body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.content {
   padding: 60px;
   max-width: 1440;
   width: 60vw;
   height: 100%;
   margin: auto;
}

.content .header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

.content .header h1 {
   margin-top: 40px;
   margin-bottom: 0;
   font-size: 50px;
   font-weight: 300;
   font-family: 'Libre Franklin', sans-serif;
   color:  hsl(0, 0%, 59%);
}

.content .header h1 strong {
   color: black;
   font-weight: 700;
}

.content .header h3 {
   line-height: 32px;
   font-family: 'Libre Franklin', sans-serif;
   font-size: 20px;
   color: black;
   font-weight: 300;
}

.content main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content main form {
   width: 80%;
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
}

.content main form input {
   width: 50%;
   height: 20px;

   margin-right: auto;
   margin-left: auto;
   
   padding: 20px;
   
   font-size: 20px;
   font-family: 'Libre Franklin', sans-serif;
   color: hsl(0, 0%, 59%);
   font-weight: 300;
   
   border-radius: 50px;
   border: solid hsl(223, 100%, 88%) 1px;
}

.content main form button {
   padding: 15px 0;
   width: 30%;
   margin-right: auto;
   color: white;
   font-weight: 600;
   background-color: hsl(223, 87%, 63%);
   border-radius: 50px;
   font-size: 20px;
   border: none;
}

.content main img {
   width: 80%;
   width: 80%;
}

.content main section {
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.content main section .color {
   width: 35px;
   height: 35px;
   margin-right: 20px;
   border-radius: 50%;
   background-color: hsl(223, 87%, 63%);
   border: 1px solid hsl(0, 0%, 59%);
}

.content main section img {
   width: 35px;
   height: 35px;
   margin-right: 20px;
}

.content main footer {
   font-family: 'Libre Franklin', sans-serif;
   color: hsl(0, 0%, 59%);
   margin-top: 40px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 20px;
}